.big-card_container {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  height: 450px;
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  }
.big-card_title h1{
  font-size: 20px;
}

.big-card_description p {
  color: grey;
  padding-top: 0.5em;
}

@media screen and (max-width: 600px) {
  /* Ajusta o estilo do big-card para ocupar 100% da largura da tela */
  .big-card_container {
    width: 100%;
    margin: 1em 0;
  }

  /* Ajusta o estilo do small-card para empilhar abaixo do big-card */
  .small-card_container {
    flex-direction: column;
    margin-top: 1rem;
  }

  .small-card_photo img {
    min-width: auto;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .small-card_container h3 {
    padding: 1rem;
  }
}
