.small-card_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.small-card_photo img {
  width: 100%;
  min-width: 200px;
  margin-right: 2rem;

}

.small-card_container h3 {
  padding: 2rem;
  margin: 2px;
  justify-content: center;
  align-items: center;
}

.small-card_container_separator {
  margin-top: 1rem;
}


