<app-menu-title></app-menu-title>
<div class="articles">
    <div class="articles_main">
      <app-big-card
        Id="1"
        photoCover="https://th.bing.com/th/id/OIP.PSFUnydkBZszHjYlOtQF8gHaD4?w=600&h=315&rs=1&pid=ImgDetMain"
        cardTitle="Saiu a nova versão do Angular"
        cardDescription="Bacon ipsum dolor amet pork belly shoulder pork loin magna est kevin jowl. Pork chop landjaeger ut, adipisicing t-bone doner culpa ipsum deserunt in.
      Consectetur shankle spare ribs, jerky pork chop velit labore. Excepteur exercitation ut tempor mollit enim short ribs pork voluptate ullamco aliqua.
      Officia in id meatball prosciutto. Non do landjaeger fatback sunt ham, short loin nostrud velit."
      ></app-big-card>
    </div>

    <div class="articles_others">
      <app-small-card
      Id="2"
      photoCover="https://th.bing.com/th/id/OIP.3h8im5YJRgiFs2-mXtZ_xAHaDt?rs=1&pid=ImgDetMain"
      cardTitle="As vangatens do Microsof Edge versus o Internet Explorer"
      ></app-small-card>

      <app-small-card
      Id="3"
      photoCover="https://th.bing.com/th/id/OIP.OUw_rVXXnqU5bevdzquZaAAAAA?rs=1&pid=ImgDetMain"
      cardTitle="Descubra os segredos da IA do Momento"
      ></app-small-card>

      <app-small-card
      Id="4"
      photoCover="https://miro.medium.com/max/2000/0*TTBp4E94PtY1KjFB.jpg"
      cardTitle="A importância de manter o seu GitHub atualizado"
      ></app-small-card>



    </div>

</div>
